body
{
text-align: center;
font-family: Helvetica;
color: chocolate;

}

h1
{
    color: crimson;
}

h5
{
font-family: monospace;
color: darkmagenta;
}

h4 
{
    font-family: Courier;
    color: aquamarine;

}